{{! threadPartial.mustache -- one thread to display template parameter:
- ArticleWeb now used from Article web: - boardName - subject - a_name -
post_time_web - thread_id - attachment - HTML! - message }}


<table class="replay">
	<tr>
		<td class="doubledash">&bull;&bull;</td>
		<td class ="replay-body rep-p"><b class="subject">{{subject}}</b><br/>
		<span class="name">{{a_name}}</span> {{{post_time_web}}} {{messageId}} n. <a
			id="{{{id_hex}}}" href="{{{href}}}" title="{{{id}}}">{{{id_hex}}}</a>
		</td>
	</tr>
	<tr>

		<td></td>
		<td class="replay-body">
			<table>
				<tr>
					{{{attachment}}}
					<td class="message rep-p"><pre>{{{message}}}</pre></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
