<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>{{boardName}}</title>
<!-- <base href="/" > -->
<link rel="stylesheet" href="/photon.css" type="text/css">
</head>
<body>
	<div class="body">
		{{hostName}}&nbsp;&nbsp;<a href="/{{boardName}}/0">{{boardName}}</a>&nbsp;&nbsp;Thread
		<hr />

		{{> formPartial}}
		<hr />
		{{#thread}}
			{{> threadPartial}}
		{{/thread}}
		
		{{#replays}}
			{{> replayPartial}}
		{{/replays}}
		
	</div>
</body>
</html>