<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
</head>
<body>
		{{#one}}
			<b>{{key}}</b>
			<h2>{{#value}} {{toString}} {{/value}}</h2>
		{{/one}}

	
</body>
</html>